(
    gameserver_address: "0.0.0.0:__PORT__",
    metrics_address: "0.0.0.0:__PORT_METRICS__",
    auth_server_address: __AUTH_SERVER_ADDRESS__,
    max_players: __MAX_PLAYERS__,
    world_seed: __WORLD_SEED__,
    server_name: "__SERVER_NAME__",
    start_time: 32400,
    map_file: None,
    max_view_distance: __MAX_VIEW_DISTANCE__,
    banned_words_files: [],
    max_player_group_size: __MAX_PLAYER_GROUP_SIZE__,
    client_timeout: (
        secs: 40,
        nanos: 0,
    ),
    spawn_town: None,
    safe_spawn: true,
    max_player_for_kill_broadcast: Some(20),
)
